<!DOCTYPE html>

<html>
	<head>
		<title>create chat</title>
	</head>

	<body>
		<h4>create chat</h4>
		<form id="create_chat_form">
			<label for="name">name</label>
			<input type="text" id="name" name="name" required>

			<label for="password">password (optional)</label>
			<input type="text" id="password" name="password">

			<button type="submit">open</button>
		</form>

		<script src="/js/create.js"></script>
	</body>
</html>
