<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, intitial-scale=1">
		<title>live chat</title>
	</head>

	<body>
		<h3>live chat</h3>
		<h4>create chat</h4>
		<form id="create_chat_form">
			<label for="password">password (optional)</label>
			<input type="text" id="password" name="password">

			<button type="submit">open</button>
		</form>

		<button id="chat_enter">enter chat</button>

		<script src="/js/create.js"></script>
	</body>
</html>
	
